header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    .top-logo {
        width: 20%;
        background-color: $color-black;
        padding: 20px 0;
        position: relative;
        img {
            max-width: 150px;
            padding: 0 5px;
            display: block;
            margin: 0 auto;
            position: relative;
            height: unset;
            top: 0;
        }
        &:after {
            border-top-width: 79px;
            border-top-style: solid;
            border-top-color: #1d2327;
            border-right-width: 20px;
            border-right-style: solid;
            border-right-color: rgba(2, 1, 1, 0);
            border-bottom-width: 0;
            border-bottom-style: solid;
            border-bottom-color: $color-highlight;
            border-left-width: 0;
            border-left-style: solid;
            border-left-color: rgba(255, 255, 255, 0);
            top: 0px;
            bottom: auto;
            right: -20px;
            left: auto;
            content: "";
            height: 0;
            position: absolute;
            width: 0;
            z-index: 1;
        }
    }
    .top-nav {
        width: 80%;
        padding: 0 15px;
        .menu-one {
            width: 60%;
            padding-left: 35px;
            a {
                font-weight: 400;
                font-size: 14px;
                &:hover,
                &:focus,
                &:active {
                    color: $color-light-highlight;
                }
            }
        }
        .social-media-list {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: flex-end;
            width: 40%;
            li {
                margin-right: 10px;
                &:last-of-type {
                    margin-right: 0;
                }
                a {
                    svg {
                        width: 100%;
                        max-width: 20px;
                        height: unset;
                        color: $color-highlight;
                    }
                    &:hover,
                    &:focus,
                    &:active {
                        svg {
                            color: $color-hover-highlight;
                        }
                    }
                }
            }
            .x-logo {
                max-width: 20px;
                position: relative;
                top: -2px;
            }
        }
    }
}

.hero {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 30px;
    > .container {
        min-height: 500px;
    }
    .text-side {
        h1 {
        }
        h2 {
        }
    }
}
