header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    .top-logo {
        width: 20%;
        background-color: $color-black;
        padding: 20px 0;
        position: relative;
        img {
            max-width: 150px;
            padding: 0 5px;
            display: block;
            margin: 0 auto;
            position: relative;
            height: unset;
            top: 0;
        }
    }
    .top-nav {
        width: 80%;
        padding: 0 15px;
        .menu-one {
            width: 60%;
            padding-left: 35px;
            a {
                font-weight: 400;
                font-size: 14px;
            }
        }
        .social-media-list {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: flex-end;
            width: 40%;
            li {
                margin-right: 10px;
                &:last-of-type {
                    margin-right: 0;
                }
                a {
                    svg {
                        width: 100%;
                        max-width: 20px;
                        height: unset;
                        color: $color-highlight;
                    }
                }
            }
            .x-logo {
                max-width: 20px;
                position: relative;
                top: -2px;
            }
        }
    }
}
