header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    .top-logo {
        width: 20%;
        background-color: $color-black;
        padding: 20px 0;
        position: relative;
        img {
            max-width: 150px;
            padding: 0 5px;
            display: block;
            margin: 0 auto;
            position: relative;
            height: unset;
            top: 0;
        }
        &:after {
            border-top-width: 79px;
            border-top-style: solid;
            border-top-color: #1d2327;
            border-right-width: 20px;
            border-right-style: solid;
            border-right-color: rgba(2, 1, 1, 0);
            border-bottom-width: 0;
            border-bottom-style: solid;
            border-bottom-color: $color-highlight;
            border-left-width: 0;
            border-left-style: solid;
            border-left-color: rgba(255, 255, 255, 0);
            top: 0px;
            bottom: auto;
            right: -20px;
            left: auto;
            content: "";
            height: 0;
            position: absolute;
            width: 0;
            z-index: 1;
        }
    }
    .top-nav {
        width: 80%;
        padding: 0 15px;
        .menu-one {
            width: 60%;
            padding-left: 35px;
            a {
                font-weight: 400;
                font-size: 14px;
                &:hover,
                &:focus,
                &:active {
                    color: $color-light-highlight;
                }
            }
        }
        .social-media-list {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: flex-end;
            width: 40%;
            li {
                margin-right: 10px;
                &:last-of-type {
                    margin-right: 0;
                }
                a {
                    svg {
                        width: 100%;
                        max-width: 20px;
                        height: unset;
                        color: $color-highlight;
                    }
                    &:hover,
                    &:focus,
                    &:active {
                        svg {
                            color: $color-hover-highlight;
                        }
                    }
                }
            }
            .x-logo {
                max-width: 20px;
                position: relative;
                top: -2px;
            }
        }
    }
}

.hero {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 30px;
    > .container {
        min-height: 500px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        @media screen and (max-width: 768px) {
            flex-flow: column nowrap;
        }
    }
    .text-side {
        width: 60%;
        margin-right: 40px;
        h2 {
            font-family: "Roboto", Arial, Helvetica, sans-serif;
        }
        @media screen and (max-width: 768px) {
            margin-right: 0;
        }
    }
    .form-side {
        width: 40%;
        .hero-form-container {
            background-color: #fff;
            padding: 30px 30px 30px;
            h2 {
                color: $color-highlight;
                font-weight: 600;
            }
            input,
            textarea {
                padding: 14px 20px;
                outline: 0;
                background-color: rgba(241, 238, 246, 0.5);
                border: 1px solid rgba(241, 238, 246, 0.5);
                color: #686a6f;
                font-size: 1rem;
                width: 100%;
            }
            label {
                margin: 5px 0;
                color: $color-gray;
            }
            .privacyPolicy {
                margin: 5px 0 0 0;
            }
            .submit {
                margin-top: 16px;
                background-image: linear-gradient(to right, #9977f6, #7243f2);
                border-radius: 0;
                border: 1px solid transparent;
                color: #fff;
                text-decoration: unset;
                font-size: 14px;
                line-height: 1.4;
                margin-bottom: 0;
                padding: 1.2rem 3.2rem;
                font-weight: 600;
                letter-spacing: 0.05em;
                text-align: center;
                overflow: hidden;
                display: inline-block;
                transition: all 0.2s ease-in-out;
                width: 100%;
                max-width: -webkit-fit-content;
                max-width: -moz-fit-content;
                max-width: fit-content;
                font-family: "Syne", sans-serif;
                position: relative;
                text-transform: uppercase;
                &:hover,
                &:active,
                &:focus {
                    background-image: linear-gradient(to right, #7243f2, #9977f6);
                    border: 1px solid #7243f2;
                }
            }
            @media screen and (max-width: 991px) {
                padding: 30px 15px 30px;
            }
            @media screen and (max-width: 768px) {
                margin-top: 40px;
            }
        }
    }
    .text-side,
    .form-side {
        @media screen and (max-width: 991px) {
            width: 50%;
        }
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
}

.services {
    .services-columns-container {
        > li {
            &.box {
                position: relative;
                overflow: hidden;
                height: 100%;
                padding: 45px 50px 45px;
                background-color: #fff;
                box-shadow: 0 10px 60px rgba(0, 0, 0, 0.07);
                transition: all 0.3s linear;
                margin-right: 15px;
                margin-bottom: 20px;
                text-decoration: unset;
                z-index: 2;
                &:nth-child(3n) {
                    margin-right: 0;
                }
                &:nth-child(1) {
                    .count {
                        &:before {
                            content: "01";
                        }
                    }
                }
                &:nth-child(2) {
                    .count {
                        &:before {
                            content: "02";
                        }
                    }
                }
                &:nth-child(3) {
                    .count {
                        &:before {
                            content: "03";
                        }
                    }
                }
                &:nth-child(4) {
                    .count {
                        &:before {
                            content: "04";
                        }
                    }
                }
                &:nth-child(5) {
                    .count {
                        &:before {
                            content: "05";
                        }
                    }
                }
                &:nth-child(6) {
                    .count {
                        &:before {
                            content: "06";
                        }
                    }
                }
                &:nth-child(7) {
                    .count {
                        &:before {
                            content: "07";
                        }
                    }
                }
                &:nth-child(8) {
                    .count {
                        &:before {
                            content: "08";
                        }
                    }
                }
                .count {
                    position: absolute;
                    right: -40px;
                    top: -70px;
                    height: 170px;
                    width: 170px;
                    background-color: #7243f2;
                    color: #fff;
                    border-radius: 50%;
                    transition: all 0.3s linear;
                    &:before {
                        left: 50%;
                        top: 50%;
                        transform: translate(-30px, 10px);
                        position: absolute;
                        color: #f6f2f0;
                        font-size: 30px;
                        line-height: 1;
                        font-family: "Syne", sans-serif;
                        font-weight: 600;
                        font-style: normal;
                    }
                }
                .icon {
                    position: relative;
                    display: block;
                    font-size: 62px;
                    color: #7243f2;
                    font-weight: 400;
                    line-height: 1em;
                    transition: all 0.3s linear;
                    margin-bottom: 10px;
                    img {
                        max-width: 60px;
                    }
                }
                .title {
                    h3 {
                        font-size: 22px !important;
                        color: #fff;
                        @media screen and (min-width: 768px) {
                            color: #212529;
                        }
                    }
                }
                .box-text {
                    max-height: 0;
                    transition: max-height 0.15s ease-in-out;
                    overflow: hidden;
                    p {
                        margin-bottom: 0;
                    }
                }
                &:after {
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    background-color: #7243f2;
                    transform: scale(0);
                    transform-origin: right top;
                    border-radius: 0 0 0 500px;
                    content: "";
                    z-index: -1;
                    transition: all 0.3s linear;
                }
                @media screen and (min-width: 768px) {
                    &:hover,
                    &:active,
                    &:focus {
                        background-color: rgba(255, 255, 255, 0.2);
                        .icon {
                            img {
                                -webkit-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(24deg) brightness(150%)
                                    contrast(101%);
                                filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(24deg) brightness(150%)
                                    contrast(101%);
                            }
                        }
                        .title h3,
                        .box-text {
                            color: #fff;
                        }
                        .box-text {
                            max-height: 500px;
                            transition: max-height 0.25s ease-in;
                        }
                        &:after {
                            transform: scale(1.5);
                            opacity: 1;
                        }
                    }
                }
                @media screen and (max-width: 991px) {
                    padding: 45px 10px;
                    &:nth-child(3n) {
                        margin-right: 15px;
                    }
                    &:nth-child(2n) {
                        margin-right: 0;
                    }
                }
                @media screen and (max-width: 768px) {
                    .icon {
                        img {
                            -webkit-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(24deg) brightness(150%)
                                contrast(101%);
                            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(24deg) brightness(150%)
                                contrast(101%);
                        }
                    }
                    .title,
                    .box-text {
                        color: #fff;
                    }
                    .box-text {
                        max-height: 500px;
                        transition: max-height 0.25s ease-in;
                    }
                    &:after {
                        transform: scale(1.5);
                        opacity: 1;
                    }
                }
                @media screen and (max-width: 576px) {
                    margin-left: 15px;
                    &:nth-child(2n) {
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}
