body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Syne", Arial, Helvetica, sans-serif;
}

.headline {
    font-size: 50px;
    line-height: 50px;
    @media screen and (max-width: 1320px) {
        font-size: 46px;
        line-height: 46px;
    }
    @media screen and (max-width: 1140px) {
        font-size: 40px;
        line-height: 40px;
    }
    @media screen and (max-width: 960px) {
        font-size: 36px;
        line-height: 36px;
    }
    @media screen and (max-width: 768px) {
        font-size: 30px;
        line-height: 30px;
    }
}

.subheadline {
    font-size: 44px;
    line-height: 50px;
    @media screen and (max-width: 1140px) {
        font-size: 36px;
        line-height: 42px;
    }
    @media screen and (max-width: 960px) {
        font-size: 30px;
        line-height: 36px;
    }
    @media screen and (max-width: 768px) {
        font-size: 28px;
        line-height: 34px;
    }
}

.subheadline-2 {
    font-size: 36px;
    line-height: 44px;
    @media screen and (max-width: 1140px) {
        font-size: 30px;
        line-height: 38px;
    }
    @media screen and (max-width: 960px) {
        font-size: 28px;
        line-height: 34px;
    }
    @media screen and (max-width: 768px) {
        font-size: 22px;
        line-height: 30px;
    }
}

.subtitle {
    font-size: 32px;
    line-height: 38px;
    @media screen and (max-width: 1140px) {
        font-size: 28px;
        line-height: 34px;
    }
    @media screen and (max-width: 960px) {
        font-size: 26px;
        line-height: 32px;
    }
    @media screen and (max-width: 768px) {
        font-size: 22px;
        line-height: 28px;
    }
}

.subtitle-2 {
    font-size: 28px;
    line-height: 36px;
    @media screen and (max-width: 1140px) {
        font-size: 24px;
        line-height: 32px;
    }
    @media screen and (max-width: 960px) {
        font-size: 20px;
        line-height: 28px;
    }
}

.text-highlight {
    color: $color-light-highlight;
}

.small-text {
    font-family: "Tahoma", Arial, Helvetica, sans-serif;
    padding: 5px 20px;
    background-color: #e7e5f2;
    font-weight: 500;
    letter-spacing: 1px;
    display: inline-block;
    margin-bottom: 10px;
}
